<td colspan="6">

  <div class="row">

    <div class="medium-6 column">
        <p>Some information</p>
    </div>


    <div class="medium-6 column">
      <ul>
        <li>
          <a href="{{ event_history_url }}"
             title="See history for {{ event_type }}">
            History for {{ event_type }}
          </a>
        </li>

        {{#if netbox_history_url}}
        <li>
          <a href="{{ netbox_history_url }}"
             title="See history for {{ subject }}">
            History for {{ subject }}
          </a>
        </li>
        {{/if}}
      </ul>
    </div>

  </div>

</td>
