<td class="action-cell">
  <label>
    <input class='alert-action' type="checkbox" />
  </label>
</td>

<td>
  {{#if on_maintenance}}<i class="fa fa-wrench fa-lg" title="On maintenance"></i>{{/if}}
  {{#if acknowledgement}}<i class="fa fa-check-circle-o fa-lg" title="Acknowledged"></i>{{/if}}
</td>

<td class="toggle-info-cell">
    <div id="popover-info-{{id}}" class="popover with-arrow">
        <a
            data-popover-target="#popover-info-{{id}}"
            aria-expanded="false"
            aria-haspopup="true"
            ><i class="fa fa-info-circle"></i></a>
        <div class="popover-content medium">
            <ul>
              <li><a href="{{event_details_url}}">Event details</a></li>
              <li><a href="{{event_history_url}}">History for {{alert_type.name}}</a></li>
              {{#if netbox_history_url}}
              <li><a href="{{netbox_history_url}}">History for {{subject}}</a></li>
              {{/if}}
            </ul>
            <div class='api-html'></div>
        </div>
   </div>
</td>

<td>
  {{#if subject_url }}<a href="{{ subject_url }}">{{ subject }}</a>
  {{else}}{{ subject }}{{/if}}
</td>

<td><span title="{{ alert_type.description }}">{{ alert_type.name }}</span></td>

<td>
    {{ dateFormat start_time }}
</td>

<td>
    {{#if end_time}}
        {{ timeSince start_time }}
    {{/if}}
</td>
